name: Post welcome comment
on: workflow_dispatch
jobs:
  build:
    name: Post welcome comment
    runs-on: ubuntu-latest
    steps:
     - name: build artifact
       run: echo "test" >> file.txt
     - name: upload artifact
       uses: actions/upload-artifact@v3
       with:
         name: file
         path: file.txt
  download:
    name: artifact download
    runs-on: ubuntu-latest
    steps:
     - name: download file
       uses: actions/download-artifact@v3
       with:
         name: file
